<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div class="content-container">
      <h1 id='counter' >0</h1>
      <div class="button-container">
        <button id="inc" class="s-button btn-plus"></button>
        <button id="dec" class="s-button btn-minus"></button>
        <button id="clr" class="s-button btn-reload"></button>
      </div>
      <div class="db-container">
        <button class="s-button btn-export" id="exp"></button>
        <button class="s-button btn-import" id="imp"></button>
      </div>
    </div>
  </div>
</body>
</html>